$yellow-main: #ffbb33;
$sucess-color: #155724;
$sucess-bg: #d4edda;
$sucess-border: #c3e6cb;
$error-color: #721c24;
$error-bg: #f8d7da;
$error-border: #f5c6cb;
$bg-color: #222;
$white: #fff;
$black: #000;
$infra-color: #ffaebc;
$dev-color: #a0e7e5;
$design-color: #b4f8c8;
$plan-color: #fbe7c6;
$gray: #7b7b7b;
$light-gray: #ccc;