@use "../../styles/variables";
@use "../../styles/mixins";

.home_container {
  width: 100%;
  flex-direction: column;
  padding: 4em;
  @include mixins.flex-center
}

.home_container h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

.home_container h1 span {
  color: variables.$yellow-main;
  padding: 0 0.2em;
  background-color: variables.$bg-color;
  border-radius: 0.5em;
}

.home_container p {
  margin-bottom: 1.5em;
  color: variables.$gray;
}

.home_container img {
  width: 350px;
  margin: 2em 0;
}
