@use '../../styles/variables';

.newproject_container {
  width: 450px;
  margin: 0 auto;
  padding: 3em;
}

.newproject_container h1 {
  margin-bottom: 1.5em;
}

.newproject_container p {
  color: variables.$gray;
}
