@use '../../styles/variables';

.project_details {
  padding: 2em;
  width: 100%;
}

.project_details h1,
.project_details h2,
.project_details p {
  margin-bottom: 0.5em;
}

.project_details h1 {
  background-color: variables.$bg-color;
  color: variables.$yellow-main;
  padding: 0.4em;
}

.project_details span {
  font-weight: bold;
}

.details_container,
.service_form_container {
  border-bottom: 1px solid variables.$gray;
  margin-bottom: 1.2em;
  padding-bottom: 1.2em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn {
  background-color: variables.$bg-color;
  color: variables.$white;
  padding: 0.6em 1em;
  text-decoration: none;
  transition: ease 0.5s;
  border-radius: 1.2em;
  cursor: pointer;
  max-height: 40px;
  border: none;
}

.btn:hover {
  color: variables.$yellow-main;
}

.project_info {
  width: 100%;
}
