$sucess-color: #155724;
$sucess-bg: #d4edda;
$sucess-border: #c3e6cb;
$error-color: #721c24;
$error-bg: #f8d7da;
$error-border: #f5c6cb;

.message {
  width: 100%;
  padding: 1em;
  border: 1px solid #000;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2em;
  border-radius: 5px;
}

.success {
  color: $sucess-color;
  background-color: $sucess-bg;
  border-color: $sucess-border;
}

.error {
  color: $error-color;
  background-color: $error-bg;
  border-color: $error-border;
}
