@use '../../styles/variables';

.message {
  width: 100%;
  padding: 1em;
  border: 1px solid variables.$black;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2em;
  border-radius: 5px;
}

.success {
  color: variables.$sucess-color;
  background-color: variables.$sucess-bg;
  border-color: variables.$sucess-border;
}

.error {
  color: variables.$error-color;
  background-color: variables.$error-bg;
  border-color: variables.$error-border;
}
