@use '../../styles/variables';

.navbar {
  background-color: variables.$bg-color;
  padding: 1em;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
}

.item {
  margin-right: 1em;
}

.item a {
  color: variables.$white;
  text-decoration: none;
}

.item a:hover {
  color: variables.$yellow-main;
  transition: ease 0.5s;
}
