$bg-color: #222;
$color: #fff;
$yellow-main: #ffbb33;

.btn {
  background-color: $bg-color;
  color: $color;
  padding: 0.7em 1.2em;
  text-decoration: none;
  transition: ease 0.5s;
  cursor: pointer;
  border: none;
}

.btn:hover {
  color: $yellow-main;
}
